.single-block {
  background-color: #dadada;
  border-right: 1px solid #000;

  display: flex;
  align-items: center;
  justify-content: center;

  &:last-child {
    border-right: 0;
  }

  &_alive {
    background-color: #fff;
  }
}